.main {
    background-color: rgb(2, 7, 59);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-areas:
    "header header header header header"
    ". . . . ."
    ". cam . snaps sticks"
    " . butt . . ."
    "footer footer footer footer footer";
}

.cam {
    grid-area: cam;
    width: 100%;
    height: 100%;
}

.snaps {
    grid-area: snaps;
}

.butts {
    grid-area: butt;
    width: 33%;
    height: 50%;
    margin-left: 25%; 
    border-radius: 30px;
    background-color: rgb(47, 106, 148);
}

.butts:hover {
    background-color: rgb(82, 193, 176);
}